@{
    ViewBag.Title = "Promoción";
}

@foreach (var item in (List<AmazoniamWillowHotel.Models.Promocion>)ViewData["Promotion"])
{
    var base64ImagenHotel = Convert.ToBase64String(item.Tipo_Habitacion.Imagen1.imagen1);
    string imgSrcImagenHotel = String.Format("data:image/gif;base64,{0}", base64ImagenHotel);

    <div class="row">
        <div class="col-sm-4">
            <img width="100%" src="@imgSrcImagenHotel">
        </div>

        <div class="col-sm-8">

            <h3>Promoción habitación @item.Tipo_Habitacion.titulo</h3><br />


            <p>@item.descripcion</p>
            <br />
            <p>Descuento: @item.descuento%</p>
            <br />
            <p>Promoción valida del @item.inicio.ToString().Split(' ')[0]   al @item.fin.ToString().Split(' ')[0]</p>
        </div>
    </div>
}